.list {
  margin-top: 40px;
  margin-bottom: 60px;

  &-box {
    display: flex;
    gap: 40px;
    margin-top: 24px;
  }

  &-items,
  &-add {
    width: 70%;
    padding: 24px 20px;
    box-shadow: 0 2px 12px #0f3b871f;
    border-radius: 8px;
    border: 2px solid $c-4;
  }

  &-items {
    padding: 0;
    height: 500px;

    &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding: 16px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    padding: 12px 16px;
    border: 2px solid $c-4;
    border-radius: 6px;

    .delete-btn {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }

  &-add {
    width: 30%;
    min-height: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $c-3;

    &_title {
      color: $c-11;
      font-size: 18px;
      font-weight: 600;
      cursor: default;
    }

    input,
    button {
      width: 100%;
      font-family: "Plus jakarta Sans", sans-serif;
    }

    input {
      font-size: 14px;
      line-height: 17px;
      padding: 10px;
      border: 0;
      border-radius: 6px;

      &:focus {
        outline: 2px solid $c-4;
      }
    }

    button {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px;
      color: $c-2;
      background-color: $c-11;
      margin-top: auto;
      border: 0;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $c-9;
      }
    }

    &_mobile {
      display: none;
      position: fixed;
      bottom: -1px;
      width: 100%;
      min-height: 20px;
      padding: 20px 16px;
      background-color: $c-9;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      transition: height 0.3s;

      &--open {
        .mobile-toggle img {
          transform: rotate(180deg);
        }
      }

      .mobile-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20px;
        background-color: transparent;
        border: 0;

        span {
          font-size: 16px;
          font-weight: 600;
          color: $c-3;
        }

        img {
          width: 20px;
          height: 20px;
          transition: transform 0.3s;
        }
      }

      &_form {
        display: flex;
        flex-direction: column;
        height: 0;
        transition: height 0.5s, padding 0.5s;

        &--open {
          height: 160px;
        }

        input,
        button {
          font-size: 15px;
          line-height: 16px;
          padding: 12px 10px;
          border: 2px solid $c-4;
          border-radius: 6px;
          margin: 20px 0;
          background-color: $c-3;

          &:focus {
            outline: 0;
            border: 2px solid $c-5;
          }
        }

        button {
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .list-items {
    width: 100%;
  }
  .list-add {
    display: none;

    &_mobile {
      display: unset;
    }
  }
}
