.list {
  margin-top: 40px;
  margin-bottom: 60px;

  &-name {
    background-color: $c-9;
    color: $c-3;
    padding: 60px 0;

    @media screen and (max-width: 768px) {
      padding: 40px 0;
    }

    &_info {
      margin-top: 5px;
      p {
        font-size: 15px;
      }
    }
  }

  &-box {
    display: flex;
    gap: 40px;
    margin-top: 24px;
  }

  &-items,
  &-add {
    width: 70%;
    padding: 24px 20px;
    box-shadow: 0 2px 12px #0f3b871f;
    border-radius: 8px;
    border: 2px solid $c-4;
  }

  &-items {
    padding: 0;
    height: 600px;

    .loader {
      width: 48px;
      height: 48px;
      border: 5px dotted $c-11;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 16px auto;
      box-sizing: border-box;
      animation: rotation 2s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .no-items {
      font-size: 18px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &_content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding: 16px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        position: absolute;
        width: 0px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 5px;
        margin-top: 12px;
        margin-bottom: 12px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $c-9;
        border-radius: 5px;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 18px;
    padding: 14px 16px;
    border: 2px solid $c-4;
    border-radius: 6px;

    .checkbox-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      min-height: 28px;
      cursor: pointer;

      input[type="checkbox"] {
        appearance: none;
        width: 13px;
        height: 13px;
        border: 2px solid $c-8;
        border-radius: 50%;
        position: relative;
        outline: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        &:checked {
          background-color: $c-8;

          &::after {
            content: "";
            display: block;
          }
        }
      }
    }

    &.checked span {
      text-decoration: line-through;
      color: $c-7;
    }

    &_controls {
      display: flex;
      align-items: center;
      gap: 10px;

      .quantity-controls {
        display: flex;
        align-items: center;
        background-color: $c-3;

        button {
          line-height: 22px;
          color: $c-1;
          background-color: $c-11;
          padding: 3px 8px;
          border: 0;
          border-radius: 3px;
          cursor: pointer;
        }

        span {
          width: 35px;
          font-size: 14px;
          text-align: center;
          line-height: 28px;
        }
      }
    }

    .delete-btn {
      width: 22px;
      height: 22px;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      img {
        width: 22px;
        height: 22px;
        object-fit: contain;
      }
    }
  }

  &-add {
    width: 30%;
    min-height: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $c-3;

    &_title {
      color: $c-11;
      font-size: 18px;
      font-weight: 600;
      cursor: default;
    }

    input,
    button {
      width: 100%;
      font-family: "Plus jakarta Sans", sans-serif;
    }

    input {
      font-size: 14px;
      line-height: 17px;
      padding: 10px;
      border: 0;
      border-radius: 6px;

      &:focus {
        outline: 2px solid $c-4;
      }
    }

    button {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px;
      color: $c-2;
      background-color: $c-11;
      margin-top: auto;
      border: 0;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $c-9;
      }
    }

    .quantity-controls {
      display: none; // flex
      margin-top: auto;
    }

    &_mobile {
      display: none;
      position: fixed;
      left: 0;
      bottom: -1px;
      z-index: 99;
      width: 100%;
      min-height: 20px;
      padding: 28px 20px;
      background-color: $c-9;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      transition: height 0.3s;

      &--open {
        .mobile-toggle img {
          transform: rotate(180deg);
        }
      }

      .mobile-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 22px;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        span {
          font-size: 18px;
          font-weight: 600;
          color: $c-3;
        }

        img {
          width: 22px;
          height: 22px;
          transition: transform 0.3s;
        }
      }

      &_form {
        display: flex;
        flex-direction: column;
        height: 0;
        transition: height 0.5s, padding 0.5s;

        &--open {
          height: 180px;
        }

        input,
        button {
          font-family: "Plus Jakarta sans", sans-serif;
          font-size: 15px;
          line-height: 16px;
          padding: 14px 10px;
          border: 2px solid $c-4;
          border-radius: 6px;
          margin: 36px 0 24px;
          background-color: $c-3;

          &:focus {
            outline: 0;
            border: 2px solid $c-5;
          }
        }

        button {
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .list-items {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: 0;

    &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0;
      padding-right: 4px;
    }
  }
  .list {
    margin-top: 0;
    padding-bottom: 50px;

    &-item {
      gap: 18px;
      flex-direction: column;
      align-items: flex-start;

      &_controls {
        align-self: flex-end;
      }
    }

    &-add {
      display: none;

      &_mobile {
        display: unset;
      }
    }
  }
}
