nav {
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }

  .wrapper {
    padding: 10px 16px;
    border-bottom: 2px solid $c-4;

    @media screen and (max-width: 768px) {
      height: 62px;
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;

  a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: $c-11;
    text-decoration: none;

    &.home-link {
      width: 40px;
      height: 40px;
    }
  }
}
